<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Is Recalled?</strong>
  <%= @item.is_recalled? ? "Yes" : "No" %>
</p>

<p>
  <strong>Recall Reason</strong>
  <%= @item.recall_reason %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
